<h1 class=" = kelly">About Us</h1>
<div class="about">
    <p>Group Members: Kelly White, Chase Wooten, Ryan Dsvis</p>
    <p>
        For our final project, we created a website to gather information about local restaurants in college park.
    </p>
</div>
    
