<h1 class=" = kelly">About Us</h1>
<div class="about">
    <p>Hello our group, Kelly White, Ryan Davis, and Chase Wooten worked on this project :).</p>
    <p>
        in this project we made a food rating website for the restaurants in College Park MD. The backend is done through MongoDB and there is a live discussion section incorporating sockets for real time updates.
    </p>
</div>
    
