<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>

<h1>Draggabilly - with jQuery</h1>
<div class="draggable"></div>

<script>

    var $draggable = $('.draggable').draggabilly();
</script>