<div class="title-container">
    <h1 class="">{{this.restaurant_name}}</h1> <i>{{time}}</i>
</div>
<div class="review">
    Restaurant rating: 
    {{{review}}} stars
</div>
<div class="content">
    {{{content}}}
</div>

