
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

body {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/****************
      MAIN 
*****************/

.kelly {
    color: #e7e6f7;
}

.about {
    color: #e7e6f7;
}

.dropbtn {
    padding: 10px;
    border: 0;
    background-color: #a07178;
    display: inline;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    
    font-weight: bold;
    font-size:20px;
    cursor:pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #a07178;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #e6ccbe;}

.dropdown:hover .dropdown-content{display:block;}

.dropdown:hover .dropbtn {background-color:#a07178;}

h1 {
    font-weight: 700;
    color: white;
}

h2{
    color: white;
}

article {
    padding: 10px;
    background-color: #49475b;
    margin-bottom: 30px;
}

.nav .tag {
    padding: 10px;
    background-color: #a07178;
    display: inline;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-decoration: none;
}

.nav input[type=text]{
    float:right;
    padding:6px;
    border:dashed;
    border-radius: 16px;
    margin-top:8px;
    margin-right:16px;
    
}

#createNew {
    border: none;
    padding: 10px;
    background-color: #bbbe64;
    border-radius: 12px;
    display: inline;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}
#createNew:hover{
    background-color: #c8cc92;
    color: white;
}

#aboutNew {
    border: none;
    padding: 10px;
    background-color: #bbbe64;
    border-radius: 10px;
    display: inline;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

#aboutNew:hover {
    background-color: #c8cc92;
    color: white;
}

#extraNew {
    border: none;
    padding: 10px;
    background-color: #bbbe64;
    border-radius: 10px;
    display: inline;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

#extraNew:hover {
    background-color: #c8cc92;
    color: white;
}


.buttonGroup button {
    float: left;
    padding: 20px 34px;
}



/*******Flickity********/
/*                    */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    background: #223843;
}


.carousel img {
    display: block;
    height: 200px;
    padding: 10px;
}

@media screen and ( min-width: 768px ) {
    .carousel img {
        height: 200px;
    }
}


/********draggabilly*************/
.draggable {
    width: 140px;
    height: 140px;
    background: #F90;
    border-radius: 10px;
}

    .draggable.is-pointer-down {
        background: #09F;
    }

    .draggable.is-dragging {
        opacity: 0.7;
    }









/****************
      FORM 
*****************/

.input-field {
    padding: 10px 0;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}




/****************
    BLOG POST 
*****************/

.title-container {
    text-align: center;
    padding: 20px;
}

.title {
    display: inline;
    margin-right: 20px;
}

.content {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: #443850;
    color: white;
}

    .content a {
        color: #e6ccbe;
    }

.review {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: #443850;
    color: white;
}

    .review a {
        color: white;
    }